body{
  text-align: center;
}

main, header {
  max-width: 960px;
  margin: auto;
  text-align: left;
}

main {
  background: #dd1a34;
}
@media screen and (min-width: 640px) {
    .catalog-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 12px;
    }
}
.catalog-datetime,
.catalog-location,
.profile-card {
  display: block;
  background: white;
  border-radius: 12px;
}
.catalog-datetime,
.catalog-location {
  padding: 12px;
}

header {
    background: #262626;
    height: 96px;
    text-align: center;
}

header h1 {
    height: 96px;
}